@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


.company-info 
{
  background-image: url('../img/blue_bg.png');
  height: 71px; 
  width: 100%;
}