<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="fonts/main.css">


    </head>
    <body>

  <header>
    </header>
    <div class="wrapper">

    <div class="time-event">
      <div class="time-event__container">
      <div class="time-event__logo">
      </div>
      <p>24 октября 2020<br>
        с 10 до 14 МСК</p>
      </div>
    </div>

    <div class="event-info">
      <div class="event-info__description">
      <h2>
        Стартует первая национальная «ATTR-Академия»!
      </h2>
      <p>
        <span>Транстиретиновая амилоидная полинейропатия <br>(ATTR-ПН)</span>
         — редкое наследственное системное заболевание.<br> Многообразие его клинических
         проявлений требует мультидисциплинарного подхода к диагностике и лечению,
          внимания генетиков, неврологов, кардиологов, нефрологов,
         патоморфологов, гастроэнтерологов, офтальмологов и терапевтов.
      </p>
    
    <div class="event-info-btnCont">
      <button class="event-info-btnCont__blueBtn">
        Добавить событие в&nbsp;календарь
      </button>
      <button class="event-info-btnCont__whiteBtn">
        Зарегистрироваться
      </button>
    </div>
  </div>
    </div>

    <div class="doctor-info">
      <div class="doctor-info__speach">
        <img src="../img/bg_ava.png">
        <p><span>«Лечение редких заболеваний периферической нервной системы — большая ответственность, 
          и важно делиться актуальной информацией по этой теме»</span> считает один из спикеров конференции,
           д.м.н., профессор, заведующая отделением нейрореабилитации и физиотерапии 
           Центра заболеваний периферической нервной системы ФГБНУ НЦН, 
          невролог высшей квалификационной категории, член-корреспондент РАН 
          <span>Супонева Наталья Александровна</span></p>
      </div>
      <h3>Наталья Александровна<br> приглашает коллег стать<br> слушателями «ATTR-Академии»<br>
         <span>оnline</span></h3>
         <div class="doctor-info-videoCont">
          <img class="doctor-info-videoCont__img" src="../img/video.png">
          <img class="doctor-info-videoCont__play" src="../img/youtube_btn.png">
        </div>
          <p class=doctor-info-videoCont__desc ><span>«АTTR-Академия»</span> — это <span>уникальная образовательная конференция</span>, 
            направленная на обмен опытом и знаниями с ведущими российскими и мировыми экспертами
            <span>в области транстиретиновой амилоидной полинейропатии</span>, 
            а также на улучшение результатов своевременной диагностики и лечения пациентов с <span>ATTR-ПН</span>.</p>
         
      
      
         <div class="advantages">
           <h4>Участие в конференции позволит:</h4>
           <ul>
             <li>
              <span>узнать о возможностях</span> в области диагностики и лечения ATTR-ПН;
             </li>
             <li>
              <span>оценить важность</span> междисциплинарного подхода к диагностике ATTR-ПН;
             </li>
             <li>
              <span>сосредоточиться на ключевых методах</span>, 
              помогающих выявить начало заболевания у бессимптомных носителей, подверженных риску развития ATTR-ПН.
             </li>
           </ul>
         </div> 
         <div class="doctor-info_LogoCont">
          <img src="../img/logo_small.png">
          <h4>Уникальные знания о редких заболеваниях</h4>  
          </div>

    </div>
    

    <div class="footer">
      <div class="footer_eventInfo">
      <p class="footer_eventInfo__date">
        24 октября 2020
        с 10 до 14 МСК
      </p>
      <div class="footer_eventInfo__format">
        
          <p>Формат мероприятия</p>
          <div class="online__cont"><div class="online"></div><span>Online</span></div>
          
      </div>
    
      </div>
      
      <div class="event-info-btnCont event-info-btnCont_footer">
        <button class="event-info-btnCont__blueBtn">
          Добавить событие в&nbsp;календарь
        </button>
        <button class="event-info-btnCont__whiteBtn">
          Зарегистрироваться
        </button>

    </div>
   

    <div class="footer-contact">
      <div class="footer-contact__logo">
        <img src="../img/pfizer.png">
        <p>PP-VYN-RUS-0112 13.10.2020</p>
      </div>
      <div class="footer-contact__desc">
        OOO «Пфайзер», 123112, Москва, Пресненская наб., д.10
        БЦ «Башня на Набережной» (блок С)
        <br><span>Тел.:</span> +7 495 287 50 00   <span>Факс:</span> +7 495 287 53 00

        <p>Служба медицинской информации: 
          <a class="footer-contact__desc__link" href="">medinfo.russia@pfizer.com</a>
          Доступ к информации о рецептурных препаратах на сайте: 
          <a class="footer-contact__desc__link" href="">www.pﬁzermedinfo.ru</a>
        </p>
      </div>
    </div>
    
    </div>



  </div>
    
    </body>
</html>
